# Targeted promotion of problem modules to built-in, for redfin.

# The misbehaving drivers themselves
CONFIG_MSM_PIL=y
CONFIG_MSM_PIL_SSR_GENERIC=y
CONFIG_SND_USB_AUDIO_QMI=y
CONFIG_QCOM_MINIDUMP=y
CONFIG_MEM_SHARE_QMI_SERVICE=y
CONFIG_QCOM_KGSL=y
CONFIG_MSM_VIDC_V4L2=y
CONFIG_QTI_QMI_SENSOR=y
CONFIG_QTI_QMI_COOLING_DEVICE=y
CONFIG_DEVFREQ_GOV_QCOM_ADRENO_TZ=y
CONFIG_DEVFREQ_GOV_QCOM_GPUBW_MON=y

# Dependency closure required to build the above in
CONFIG_MSM_SUBSYSTEM_RESTART=y
CONFIG_QCOM_QMI_HELPERS=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_QTEE_SHM_BRIDGE=y
CONFIG_QCOM_SMEM=y
CONFIG_QCOM_SMEM_STATE=y
CONFIG_IPC_LOGGING=y
CONFIG_QCOM_BUS_SCALING=y
CONFIG_QCOM_COMMAND_DB=y
CONFIG_QCOM_LLCC=y
CONFIG_QCOM_LAZY_MAPPING=y
CONFIG_QCOM_SECURE_BUFFER=y
CONFIG_ION=y
CONFIG_RPMSG=y
CONFIG_MSM_FASTCVPD=y
CONFIG_QCOM_DEVFREQ_DEVBW=y
